UPDATE DB_Version SET [DB_Version] = 12
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[GetActiveSubType]
(
	@EMPLOYEE_NUM int
)
RETURNS INT
AS
BEGIN
	DECLARE @Subtype int
	DECLARE @EMPLOYEE_NUMBER char(6)
	SET @EMPLOYEE_NUMBER = replicate ('0', 6 - Len(@EMPLOYEE_NUM)) + Convert(char(6), @EMPLOYEE_NUM)
	SET @Subtype = (SELECT 		
		CASE WHEN 
			SEG_501_LOCATION IN (9971,9977,9973)
			AND SEG_501_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_501_BOARD_CODE) = 1 AND SEG_501_BOARD_CODE > 39	THEN SEG_501_LOCATION 
		ELSE CASE WHEN 
			SEG_502_LOCATION IN (9971,9977,9973)
			AND SEG_502_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_502_BOARD_CODE) = 1 AND SEG_502_BOARD_CODE > 39	THEN SEG_502_LOCATION 
		ELSE CASE WHEN 
			SEG_503_LOCATION IN (9971,9977,9973)
			AND SEG_503_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_503_BOARD_CODE) = 1 AND SEG_503_BOARD_CODE > 39	THEN SEG_503_LOCATION 
		ELSE CASE WHEN 
			SEG_504_LOCATION IN (9971,9977,9973)
			AND SEG_504_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_504_BOARD_CODE) = 1 AND SEG_504_BOARD_CODE > 39	THEN SEG_504_LOCATION 
		ELSE CASE WHEN 
			SEG_505_LOCATION IN (9971,9977,9973)
			AND SEG_505_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_505_BOARD_CODE) = 1 AND SEG_505_BOARD_CODE > 39	THEN SEG_505_LOCATION 
		ELSE CASE WHEN 
			SEG_506_LOCATION IN (9971,9977,9973)
			AND SEG_506_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_506_BOARD_CODE) = 1 AND SEG_506_BOARD_CODE > 39	THEN SEG_506_LOCATION 
		ELSE CASE WHEN 
			SEG_507_LOCATION IN (9971,9977,9973)
			AND SEG_507_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_507_BOARD_CODE) = 1 AND SEG_507_BOARD_CODE > 39	THEN SEG_507_LOCATION 
		ELSE CASE WHEN 
			SEG_508_LOCATION IN (9971,9977,9973)
			AND SEG_508_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_508_BOARD_CODE) = 1 AND SEG_508_BOARD_CODE > 39	THEN SEG_508_LOCATION 
		ELSE CASE WHEN 
			SEG_509_LOCATION IN (9971,9977,9973)
			AND SEG_509_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_509_BOARD_CODE) = 1 AND SEG_509_BOARD_CODE > 39	THEN SEG_509_LOCATION 
		ELSE CASE WHEN 
			SEG_510_LOCATION IN (9971,9977,9973)
			AND SEG_510_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_510_BOARD_CODE) = 1 AND SEG_510_BOARD_CODE > 39	THEN SEG_510_LOCATION 
		ELSE 0
		END END END END END END END END END END
    FROM V_EMPLOYEE_SEGMENT 
    WHERE EMPLOYEE_NUMBER = @EMPLOYEE_NUMBER)     
    
	IF (@Subtype = 0)
	BEGIN
		SET @Subtype = (SELECT 	
		CASE WHEN 
			SEG_511_LOCATION IN (9971,9977,9973)
			AND SEG_511_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_511_BOARD_CODE) = 1 AND SEG_511_BOARD_CODE > 39	THEN SEG_511_LOCATION 		
		ELSE CASE WHEN 
			SEG_512_LOCATION IN (9971,9977,9973)
			AND SEG_512_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_512_BOARD_CODE) = 1 AND SEG_512_BOARD_CODE > 39	THEN SEG_512_LOCATION 		
		ELSE CASE WHEN 
			SEG_513_LOCATION IN (9971,9977,9973)
			AND SEG_513_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_513_BOARD_CODE) = 1 AND SEG_513_BOARD_CODE > 39	THEN SEG_513_LOCATION 		
		ELSE CASE WHEN 
			SEG_514_LOCATION IN (9971,9977,9973)
			AND SEG_514_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_514_BOARD_CODE) = 1 AND SEG_514_BOARD_CODE > 39	THEN SEG_514_LOCATION 		
		ELSE CASE WHEN 
			SEG_515_LOCATION IN (9971,9977,9973)
			AND SEG_515_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_515_BOARD_CODE) = 1 AND SEG_515_BOARD_CODE > 39	THEN SEG_515_LOCATION 		
		ELSE CASE WHEN 
			SEG_516_LOCATION IN (9971,9977,9973)
			AND SEG_516_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_516_BOARD_CODE) = 1 AND SEG_516_BOARD_CODE > 39	THEN SEG_516_LOCATION 		
		ELSE CASE WHEN 
			SEG_517_LOCATION IN (9971,9977,9973)
			AND SEG_517_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_517_BOARD_CODE) = 1 AND SEG_517_BOARD_CODE > 39	THEN SEG_517_LOCATION 		
		ELSE CASE WHEN 
			SEG_518_LOCATION IN (9971,9977,9973)
			AND SEG_518_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_518_BOARD_CODE) = 1 AND SEG_518_BOARD_CODE > 39	THEN SEG_518_LOCATION 		
		ELSE CASE WHEN 
			SEG_519_LOCATION IN (9971,9977,9973)
			AND SEG_519_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_519_BOARD_CODE) = 1 AND SEG_519_BOARD_CODE > 39	THEN SEG_519_LOCATION 		
		ELSE CASE WHEN 
			SEG_520_LOCATION IN (9971,9977,9973)
			AND SEG_520_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
			AND isNumeric(SEG_520_BOARD_CODE) = 1 AND SEG_520_BOARD_CODE > 39	THEN SEG_520_LOCATION 
		ELSE 0
		END END END END END END END END END END
	    FROM V_EMPLOYEE_SEGMENT 
		WHERE EMPLOYEE_NUMBER = @EMPLOYEE_NUMBER)
	END	
			
	IF (@Subtype = 0)
	BEGIN
		SET @Subtype = ISNULL((SELECT LOCATION FROM DW_PERQ.dbo.V_EMPLOYEE WHERE EMPLOYEE_NUMBER = @EMPLOYEE_NUMBER AND LOCATION IN (9971,9977,9973) AND isNumeric(JOB_BOARD_CODE) = 1 AND JOB_BOARD_CODE > 39 AND PAYCODE NOT IN ('A', 'C', 'D', 'H', 'J', 'Q', 'R', 'W', 'X', 'Y')), 0)
	END
			
	IF (@Subtype = 0)
	BEGIN
		SET @Subtype = (SELECT LocationId FROM [User] WHERE UserId = @EMPLOYEE_NUMBER)
	END
	
	SET @Subtype = ISNULL(@Subtype, 9029)
	
	RETURN @Subtype
END
GO

ALTER FUNCTION [dbo].[IsSubstitute]
(
	@EMPLOYEE_NUM int
)
RETURNS INT
AS
BEGIN
	DECLARE @Subtype int
	DECLARE @EMPLOYEE_NUMBER char(6)
	SET @EMPLOYEE_NUMBER = replicate ('0', 6 - Len(@EMPLOYEE_NUM)) + Convert(char(6), @EMPLOYEE_NUM)
	SET @Subtype = (SELECT ISNULL(SEG_501_LOCATION,ISNULL(SEG_502_LOCATION,ISNULL(SEG_503_LOCATION,ISNULL(SEG_504_LOCATION,ISNULL(SEG_505_LOCATION,ISNULL(SEG_506_LOCATION,ISNULL(SEG_507_LOCATION,ISNULL(SEG_508_LOCATION,ISNULL(SEG_509_LOCATION,ISNULL(SEG_510_LOCATION,ISNULL(SEG_501_LOCATION,ISNULL(SEG_511_LOCATION,ISNULL(SEG_512_LOCATION,ISNULL(SEG_513_LOCATION,ISNULL(SEG_514_LOCATION,ISNULL(SEG_515_LOCATION,ISNULL(SEG_516_LOCATION,ISNULL(SEG_517_LOCATION,ISNULL(SEG_518_LOCATION,ISNULL(SEG_519_LOCATION,ISNULL(SEG_520_LOCATION,0))))))))))))))))))))) FROM V_EMPLOYEE_SEGMENT
	WHERE EMPLOYEE_NUMBER = @EMPLOYEE_NUMBER
	AND (
			(
				SEG_501_LOCATION IN (9971,9977,9973)
				AND SEG_501_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_501_BOARD_CODE) = 1 AND SEG_501_BOARD_CODE > 39
			)
			OR
			(
				SEG_502_LOCATION IN (9971,9977,9973)
				AND SEG_502_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_502_BOARD_CODE) = 1 AND SEG_502_BOARD_CODE > 39
			)
			OR
			(
				SEG_503_LOCATION IN (9971,9977,9973)
				AND SEG_503_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_503_BOARD_CODE) = 1 AND SEG_503_BOARD_CODE > 39
			)
			OR
			(
				SEG_504_LOCATION IN (9971,9977,9973)
				AND SEG_504_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_504_BOARD_CODE) = 1 AND SEG_504_BOARD_CODE > 39
			)
			OR
			(
				SEG_505_LOCATION IN (9971,9977,9973)
				AND SEG_505_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_505_BOARD_CODE) = 1 AND SEG_505_BOARD_CODE > 39
			)
			OR
			(
				SEG_506_LOCATION IN (9971,9977,9973)
				AND SEG_506_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_506_BOARD_CODE) = 1 AND SEG_506_BOARD_CODE > 39
			)
			OR
			(
				SEG_507_LOCATION IN (9971,9977,9973)
				AND SEG_507_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_507_BOARD_CODE) = 1 AND SEG_507_BOARD_CODE > 39
			)
			OR
			(
				SEG_508_LOCATION IN (9971,9977,9973)
				AND SEG_508_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_508_BOARD_CODE) = 1 AND SEG_508_BOARD_CODE > 39
			)
			OR
			(
				SEG_509_LOCATION IN (9971,9977,9973)
				AND SEG_509_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_509_BOARD_CODE) = 1 AND SEG_509_BOARD_CODE > 39
			)
			OR
			(
				SEG_510_LOCATION IN (9971,9977,9973)
				AND SEG_510_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_510_BOARD_CODE) = 1 AND SEG_510_BOARD_CODE > 39
			)
			OR
			(
				SEG_511_LOCATION IN (9971,9977,9973)
				AND SEG_511_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_511_BOARD_CODE) = 1 AND SEG_511_BOARD_CODE > 39
			)
			OR
			(
				SEG_512_LOCATION IN (9971,9977,9973)
				AND SEG_512_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_512_BOARD_CODE) = 1 AND SEG_512_BOARD_CODE > 39
			)
			OR
			(
				SEG_513_LOCATION IN (9971,9977,9973)
				AND SEG_513_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_513_BOARD_CODE) = 1 AND SEG_513_BOARD_CODE > 39
			)
			OR
			(
				SEG_514_LOCATION IN (9971,9977,9973)
				AND SEG_514_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_514_BOARD_CODE) = 1 AND SEG_514_BOARD_CODE > 39
			)
			OR
			(
				SEG_515_LOCATION IN (9971,9977,9973)
				AND SEG_515_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_515_BOARD_CODE) = 1 AND SEG_515_BOARD_CODE > 39
			)
			OR
			(
				SEG_516_LOCATION IN (9971,9977,9973)
				AND SEG_516_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_516_BOARD_CODE) = 1 AND SEG_516_BOARD_CODE > 39
			)
			OR
			(
				SEG_517_LOCATION IN (9971,9977,9973)
				AND SEG_517_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_517_BOARD_CODE) = 1 AND SEG_517_BOARD_CODE > 39
			)
			OR
			(
				SEG_518_LOCATION IN (9971,9977,9973)
				AND SEG_518_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_518_BOARD_CODE) = 1 AND SEG_518_BOARD_CODE > 39
			)
			OR
			(
				SEG_519_LOCATION IN (9971,9977,9973)
				AND SEG_519_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_519_BOARD_CODE) = 1 AND SEG_519_BOARD_CODE > 39
			)
			OR
			(
				SEG_520_LOCATION IN (9971,9977,9973)
				AND SEG_520_PAYCODE NOT IN ('A','C','D','H','J','Q','R','W','X','Y')
				AND isNumeric(SEG_520_BOARD_CODE) = 1 AND SEG_520_BOARD_CODE > 39
			)
		)						
	)

	SET @Subtype = ISNULL(@Subtype, 0)		
	
	IF (@Subtype = 0)
	BEGIN
		SET @Subtype = (SELECT LOCATION FROM DW_PERQ.dbo.V_EMPLOYEE WHERE EMPLOYEE_NUMBER = @EMPLOYEE_NUMBER AND LOCATION IN (9971,9977,9973) AND isNumeric(JOB_BOARD_CODE) = 1 AND JOB_BOARD_CODE > 39 AND PAYCODE NOT IN ('A', 'C', 'D', 'H', 'J', 'Q', 'R', 'W', 'X', 'Y'))
	END
			
	SET @Subtype = ISNULL(@Subtype, 0)
	
	RETURN @Subtype	  	  
END

GO