<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Micajah.Common.DevelopmentMode" value="true"/>
		<add key="TestEmailAddress" value="artem@amstudio.ru"/>
		<add key="UseTestEmailAddress" value="true"/>
		<add key="SmtpServer" value="localhost"/>
    <add key="Micajah_ErrorTracker_Service" value="http://error.micajah.com/Service.asmx" />
    <add key="ApplicationID" value="18" />
	</appSettings>
	<connectionStrings>
		<add name="Micajah.Common.ConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Miami_WSTA;Data Source=octopussy.kc.micajah.local" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Resources.Micajah.Common/Pages/Security/Login.aspx" slidingExpiration="true"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<customErrors mode="Off"/>
		<globalization culture="en-US" uiCulture="en-US"/>
		<httpHandlers>
			<add verb="GET" path="Resources.Micajah.Common.Resource.axd" type="Micajah.Common.Bll.Handlers.ResourceHandler, lib.micajah.common" validate="false"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add tagPrefix="mits" namespace="Micajah.Common.WebControls" assembly="lib.micajah.common"/>
				<add tagPrefix="radCln" namespace="Telerik.WebControls" assembly="RadCalendar.Net2"/>
				<add tagPrefix="radC" namespace="Telerik.WebControls" assembly="RadComboBox.Net2"/>
				<add tagPrefix="radE" namespace="Telerik.WebControls" assembly="RadEditor.Net2"/>
				<add tagPrefix="radG" namespace="Telerik.WebControls" assembly="RadGrid.Net2"/>
				<add tagPrefix="radI" namespace="Telerik.WebControls" assembly="RadInput.Net2"/>
				<add tagPrefix="radT" namespace="Telerik.WebControls" assembly="RadTreeView.Net2"/>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
			</controls>
		</pages>
	</system.web>
	<location path="Images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="DomainLogin.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ConfirmJob.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Close.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
