<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="Micajah.Common.DevelopmentMode" value="true"/>-->

    <add key="TestEmailAddress" value="artem@amstudio.ru"/>
    <add key="UseTestEmailAddress" value="true"/>
    <add key="SmtpServer" value="localhost"/>
    <add key="IntranetLocation" value="../intranet.asp"/>

    <add key="Roles" value="262"/>
    <add key="RACFUserID" value="203"/>
    <add key="EmployeeNumber" value="000203"/>
    <add key="LocationNumber" value="41"/>
    <add key="LocationName" value="test"/>
    <add key="SignOnRegion" value="0"/>
    
    <add key="objConnWPNRDev" value="Data Source=YURA\sql2005,1433;Initial Catalog=miami_WSTA;Persist Security Info=True;User ID=Sql2005Access;Password=pwd!@#$%"/>
    <add key="objConnWPNRProd" value="Data Source=YURA\sql2005,1433;Initial Catalog=miami_WSTA;Persist Security Info=True;User ID=Sql2005Access;Password=pwd!@#$%"/>
  </appSettings>
  <connectionStrings>
    <add name="Micajah.Common.ConnectionString" connectionString="Data Source=YURA\sql2005,1433;Initial Catalog=miami_WSTA;Persist Security Info=True;User ID=Sql2005Access;Password=pwd!@#$%" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US"/>
    <identity impersonate="true"/>
    <httpModules>
      <add type="RACF.Authenticate, RACF" name="Authenticate"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="Resources.Micajah.Common.Resource.axd" type="Micajah.Common.Bll.Handlers.ResourceHandler, lib.micajah.common" validate="false"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="error.aspx"/>
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="mits" namespace="Micajah.Common.WebControls" assembly="lib.micajah.common"/>
        <add tagPrefix="radCln" namespace="Telerik.WebControls" assembly="RadCalendar.Net2"/>
        <add tagPrefix="radC" namespace="Telerik.WebControls" assembly="RadComboBox.Net2"/>
        <add tagPrefix="radE" namespace="Telerik.WebControls" assembly="RadEditor.Net2"/>
        <add tagPrefix="radG" namespace="Telerik.WebControls" assembly="RadGrid.Net2"/>
        <add tagPrefix="radI" namespace="Telerik.WebControls" assembly="RadInput.Net2"/>
        <add tagPrefix="radT" namespace="Telerik.WebControls" assembly="RadTreeView.Net2"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
  </system.web>
</configuration>
